
body {
  background-color: powderblue;
  font-family: Helvetica;
}

h1   {
  background-color: #5EB8E3;
  color: blue;
  font-family: Helvetica;
  border: 5px red solid;
}

p    {
  color: red;
  font-family: Helvetica;
}

.box-1{
  border:1px #A1B6FF;
  padding:10px #A1FFFC;
  margin:20px 0;
}
